// base-color = #f5f5f5; sub-color #efefef
// main-color = rgb(233,30,99)
// accent-color = rgb(244,67,54)

// 文字の設定・タイポグラフィ
body {
  font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}

.mdl-layout-title {
  font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}

.mdl-layout {
  background-color: #f5f5f5;
  // background-color: rgba(0,0,0,0.05);
}

// 基本構造
.mdl-layout__header {
  background-color: rgb(233,30,99);
}

.mdl-layout__content {
}

// ログイン画面の設定

#session-new ,#welcome{
  float: left;
  width: 450px;
  margin-top: 20px;
  margin-right: 20px;
}

.login-display,.welcome-display {
  background-color: #efefef;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.login-display p {
  margin: 0px;
}

.login-title,.welcome-title {
  padding:10px 0;
  border-bottom: 1px dotted rgba(0,0,0, 0.15);
}

.login-display h2,.welcome-display h2{
  font-size: 32px;
  margin: 0;
  color : rgba(0,0,0, 0.5);
  text-align: center;
}

.login-form,.welcome-form {
  padding: 20px 40px;
}

.mdl-textfield__label span {
  float: left;
  margin-left: 0.5em;
  font-weight: bold;
}
.material-icons {
  float: left;
  margin-top: -4px;
}

.mdl-button--raised.mdl-button--colored {
    background: rgba(244,67,54,0.8);
    color: rgb(255,255,255);
}

.actions .mdl-button {
  font-size: 16px;
  font-weight: 800;
}

// アラート機能

.alert-box {
  padding: 10px 40px;
  margin: 10px 20px;
  background-color: #efefef;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.alert-box p {
  margin: 0px;
}

.alert-danger {
  color: rgb(255, 0, 0);
  font-weight: bold;
}

.alert-success {
  color: rgb(63,81,181);
  font-weight: bold;
}



// ヘッダー
// .mdl-layout__header {
//   height: 144px;
//   border-bottom: 2px solid rgb(244,67,54);
// }

// .mdl-layout__header-row {
//   margin-top: 80px;
// }

// .mdl-navigation__link:hover {

// }

// .mdl-navigation__link:hover {
//   ;
// }

// サイドバー

.login-info-side {
  padding-top: 20px;
  padding-left: 40px;
}


// top/index

.demo-card-event.mdl-card {
  width: auto;
  height: 256px;
  background: #efefef;
}
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}

// レスポンシブデザイン

@media screen and (max-width: 1024px) {

  .mdl-layout__header {
    position: fixed;
  }

  .mdl-layout__drawer-button {
      margin: 4px;
      color: rgba(255, 255, 255, 1.0);
      position: fixed;
  }

  .mdl-layout__container {
    margin: 0 auto;
  }

  main {
    margin-top: 146px;
  }
}

